body {
  background-color: #000;
}

/* Giving a background-color to the nav container. */
nav {
  margin-bottom: 100px;
  background-color: #212121;
}

nav h3 {
  margin-right: 20px;
  color: #FFF;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
li {
  padding: 10px;
}

nav ul {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
  display:inline-block;
  background-color: #212121;
}

/* Styling the links */
nav a {
  display:block;
  color:#FFF;
  font-size:20px;
  text-decoration:none;
}

/* Background color change on Hover */
nav li:hover {
  background-color: #FFF;
  color: #212121;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  margin-left: -10px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  min-width:170px;
  display:list-item;
  position: relative;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul {
  position: absolute;
  top:0;
  left:100%;
  margin-left: 0;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
