/*
  ---------------- Style legend ----------------
  main.css:                 Global styling rules
  desktop.css:              Desktop-sized styling rules
  tablet.css:               Tablet-sized styling rules
  mobile.css:               Mobile-sized styling rules
  columnize/columnize.css:  Defines column/flex layout classes
  fonts/bree.css:           Bree font face imports
*/

@media screen and (min-width: 992px) {

  #ad1, #ad2 {
    width: 100%;
  }

}

@media screen and (min-width: 992px) and (max-width: 1000px) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 1001px) {
  .container {
    width: 800px;
  }
}
