/*
  ---------------- Style legend ----------------
  main.css:                 Global styling rules
  desktop.css:              Desktop-sized styling rules
  tablet.css:               Tablet-sized styling rules
  mobile.css:               Mobile-sized styling rules
  columnize/columnize.css:  Defines column/flex layout classes
  fonts/bree.css:           Bree font face imports
*/

@import url('columnize/dist/columnize.css');
@import url('../fonts/bree.css');

@import url('desktop.css');
@import url('tablet.css');
@import url('mobile.css');

/* clear all the things */
* {
  margin: 0;
  padding: 0;
}

/* Global styling rules */

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  background-color: #fafafa;
  padding-top: 2%;
  padding-bottom: 2%;
}

main {
  border: 1.25rem solid #93272C;
  background-color: #E1B87F;
  padding: 0.5rem;
  color: #674736;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: 'Bree Rg', sans-serif;
}

h2, h3, h4, h5, h6 {
  color: #93272C;
}

h1, h2 {
  line-height: 75%;
  font-family: 'Bree EB', sans-serif;
  text-transform: uppercase;
}

h1 {color: #5d3926;}

ul {
  margin: 1.2em 0 1.2em 1.1em;

}

img {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px auto;
  display: block;
}

#logo {
  margin-left: 0;
}

.white-text {
  color: #ffffff;
}

.white-text + a:hover {
    color: #93272C;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.col {
  padding-left: 5px;
  padding-right: 5px;
}
