/*
  ---------------- Style legend ----------------
  main.css:                 Global styling rules
  desktop.css:              Desktop-sized styling rules
  tablet.css:               Tablet-sized styling rules
  mobile.css:               Mobile-sized styling rules
  columnize/columnize.css:  Defines column/flex layout classes
    NOTE: This is a framework that I developed FOR this
              assignment. I did not take it from somewhere else.
  fonts/bree.css:           Bree font face imports
*/

@import url('columnize/dist/columnize.css');
@import url('../fonts/bree.css');

@import url('desktop.css');
@import url('tablet.css');
@import url('mobile.css');

/*clear everything*/
* {
  padding: 0;
  margin: 0;
}

/* Global styling rules */

/*layout*/

.row {
  margin-bottom: 20px;
  margin-top: 10px;
}

.col {
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  margin-left: auto; margin-right: auto;
  margin-top: 10px; margin-bottom: 30px;
}


/* body */

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  /*padding-top: 2%;
  padding-bottom: 2%;*/
}

main {
  background-color: #E1B87F;
  padding: 0.5rem;
  color: #674736;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: 'Bree Rg', sans-serif;
}

h2, h3, h4, h5, h6 {
  color: #93272C;
}

h1, h2 {
  line-height: 75%;
  font-family: 'Bree EB', sans-serif;
  text-transform: uppercase;
}

h1 {color: #5d3926;}

main ul, main ol {
  margin: 1.2em 0 1.2em 1.1em;
  padding-left: 20px;
}

a {
  color: #ffffff;
}

.white-text {
  color: #ffffff;
}

.brown-text {
  color: #5d3926;
}

.white-text > a:hover {
    color: #93272C;
}

.white-text > a {
  text-decoration: none;
}

hr {
  color: #E1B87F;
  background-color: #E1B87F;
  border: 0.5px dotted #000;
  border-style: none none dotted;
  margin: 20px 0;
  clear: both;
}

section {
  margin-top: 15px;
}

section > ul > li {
  font-style: italic;
}


/* form */
input {
  margin-bottom: 10px;
}

input[type='text'] {
  width: 60%;
  border: 0px;
  padding: 5px;
  border-radius: 2px;
}

button {
  border-color: #93272C #93272C hsl(0, 63%, 45%);
  border-radius: 4px;
  background-color: #93272C;
  color: #ffffff;
  padding: 5px 10px;
  font-weight: bold;
}

/*images*/

img {
  display: inline-block;
  margin: 10px auto;
  display: block;
}

.productImg {
  width: 100%;
}

main > .row > .col.m4.l4 > img, main > .row > .col.m4.l4 > a > img {
  width: 100%;
}

/*header*/

header {
  height: 20%;
}

nav {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

header > nav > ul {
  display: table;
  width: 100%;
  list-style: none;
}

nav > ul > li {
  padding-top: 20px;
  padding-bottom: 10px;
  display: table-cell;
  text-align: center;
}

nav > ul > li > a {
  font-family: 'Bree Rg', sans-serif;
  color: #5d3926;
  text-decoration: none;
  display: block;
}

nav > ul > li:hover {
  color: #ffffff !important;
}

nav > ul > li:nth-child(1) {
  background-color: rgba(147,39,44, 0.5);
}

nav > ul > li:nth-child(1):hover {
  background-color: rgba(147,39,44, 1);
}

nav > ul > li:nth-child(2) {
  background-color: rgba(78,118,156, 0.5);
}

nav > ul > li:nth-child(2):hover {
  background-color: rgba(78,118,156, 1);
}

nav > ul > li:nth-child(3) {
  background-color: rgba(160,153,88, 0.5);
}

nav > ul > li:nth-child(3):hover {
  background-color: rgba(160,153,88, 1);
}

nav > ul > li:nth-child(4) {
  background-color: rgba(103,71,54, 0.5);
}

nav > ul > li:nth-child(4):hover {
  background-color: rgba(103,71,54, 1);
}

nav > ul > li:nth-child(5) {
  background-color: rgba(207,69,32, 0.5);
}

nav > ul > li:nth-child(5):hover {
  background-color: rgba(207,69,32, 1);
}

nav > ul > li:nth-child(6) {
  background-color: rgba(183,119,41, 0.5);
}

nav > ul > li:nth-child(6):hover {
  background-color: rgba(183,119,41, 1);
}

header > div#mobile-nav > ul {
  list-style: none;
  background-color: #E1B87F;
}

header > div#mobile-nav > ul > li{
  list-style: none;
  width: 100%;
}

.pageNav {
  padding: 1;
}

.pageNav > ul > li {
  font-weight: bold;
  color: #ffffff;
  list-style: none;
}

.pageNav ul > li:hover {
  text-decoration: underline;
}

.pageNav > ul > li > a {
  text-decoration: none;
  font-weight: normal;
}

.pageNav > ul > li > a:hover {
  text-decoration: underline;
}


/*footer*/

footer {
  margin-top: 10px;
}

footer > ul {
  margin: 0;
}

footer > ul > li {
  list-style: none;
}

footer > ul > li > ul {
  list-style: none;
}

footer > ul > li > ul > li > a {
  color: #aaa;
}

footer > ul > li > ul > li:first-child > a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: 700;
}
