/*
  ---------------- Style legend ----------------
  main.css:                 Global styling rules
  desktop.css:              Desktop-sized styling rules
  tablet.css:               Tablet-sized styling rules
  mobile.css:               Mobile-sized styling rules
  columnize/columnize.css:  Defines column/flex layout classes
  fonts/bree.css:           Bree font face imports
*/

@media screen and (min-width: 601px) and (max-width: 991px) {

  .container {
    width: 80%;
  }

  .ad {
    width: 90%;
  }

  header > div#mobile-nav {
    display: none;
  }

  header > .background > img.logo {
    /*width: 90%;*/
    margin: 0 auto;
  }

  header > .background > .background-img {
    width: 90%;
  }

  nav > ul > li > a {
    font-size: 1.2rem;
  }

  footer  {
    margin-top: 20px;
  }

  footer > ul > li {
    margin-bottom: 10px;
  }

  footer > ul > li > ul > li {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
  }

  footer > ul > li > ul > li:first-child {
    font-size: 1.2rem;
  }
}
