/* dark blue: #13294b
light blue: #00a3e0
dark gray: rgb(175,175,175)
gray: rgb(215,215,215)
light gray(230,230,230) */

/* GENERAL SETTINGS */

header {
  background-color: #00a3e0;
}

/* END OF GENERAL SETTINGS */

/* LAYOUT SETTINGS */

h1 {
  text-align: right;
  margin-right: 1rem;
  position: relative;
  top:2rem;
}







/* END OF LAYOUT SETTINGS */

/* NAVIGATION SETTINGS */

nav {
  background-color: #13294b;
}

nav a, #miniNav a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

#pageNav a {
  display: inline-block;
  background-color: rgb(210, 210, 210);
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  margin: 1rem;
}

#pageNav a:hover {
  background-color: #00a3e0;
}

#pageNav ul, #miniNav ul, nav ul {
  list-style: none;
}


/* Media queries for navigation */

@media screen and (max-width: 480px) {
  nav ul {
    display: none;
  }
  #lineBox hr {
    width:1.2rem;
    height:2px;
    margin: 4px 0;
    box-shadow: 1px 1px 2px black;
    background-color: rgb(236,240,241);
    border: none;
  }

  #logolink {
    display:block;
    width: 160px;
    margin: 0 auto;
  }

  nav img {
    display: inline-block;
    padding: 0.75
  }

  #lineBox {
    padding: 1rem;
  }

  #miniNav a {
    padding: 5px 1rem;
    display: inline-block;
  }

  #miniNav li:hover {
    background-color: #e31c79;
  }

  #miniNav li {
    background-color: #2980b9;
  }

  header {
    height: 4rem;
  }

  #pageNav a {
    margin:1rem 1%;
    padding:0.5rem 3%;
  }

}

@media screen and (min-width: 481px) {
  #lineBox {
    display: none;
  }
}

/* END OF NAVIGATION SETTINGS */
